<!DOCTYPE html>
<html xml:lang>
<head>
  <title>Página no encontrada</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-blue-200 bg-cover min-h-screen">

    <div>
      <h3 class="text-3xl font-bold underline p-4">404</h3>
      <div>
        <h2 class="m-4">
          Not Found
        </h2>
      </div>
      <a routerLink="/welcome-interface" routerLinkActive="active" ariaCurrentWhenActive="page">
        <button class="cursor-pointer m-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-green-600 mb-2">
          Volver al inicio
        </button>
      </a>
    </div>

</body>
</html>
