<!DOCTYPE html>
<html xml:lang>
<head>
  <title>Página no encontrada</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-white bg-cover min-h-screen flex items-center justify-center">
    <div class="text-center">
      <h3 class="text-gray-600 text-8xl font-bold pt-4">404</h3>
      <div>
        <h2 class="text-gray-600 font-bold text-xl mt-4 mb-4">Not Found</h2>
      </div>
      <app-custom-button buttonText="Regresar" routerDirection="/welcome-interface"></app-custom-button>
    </div>
</body>
</html>
