<!DOCTYPE html>
<html xml:lang>
<head>
  <title>Registrar personas</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>
<body class="bg-blue-200 bg-cover min-h-screen pr-2 pl-2">

  <section class="text-center mb-4 pt-4">
    <h2 class="font-medium text-2xl mx-auto">REGISTRO DE PERSONAS</h2>
  </section>

  <section class="flex justify-center items-center max-w-2xl mx-auto text-center m-2 gap-2 flex-col md:flex-row bg-blue-400 rounded">
    <div class="m-2 max-w-90 bg-blue-200 rounded">
      <div class="text-black text-center pt-1">
        <h3>Filtros de búsqueda</h3>
      </div>
      <div class="flex flex-wrap justify-center max-w-120">
        <div class="text-center min-w-40 max-w-40 p-2">
          <h2 class="mb-1">Nombre</h2>
          <input type="text" placeholder="Insertar nombre..." class="w-full bg-white p-1 rounded">
        </div>
        <div class="text-center min-w-40 max-w-40 p-2">
          <h2 class="mb-1">Apellido</h2>
          <input type="text" placeholder="Insertar apellido..." class="w-full bg-white p-1 rounded">
        </div>
        <div class="text-center min-w-40 max-w-40 pr-2 pl-2 mb-2">
          <h2 class="mb-1">Edad</h2>
          <input type="number" placeholder="Insertar edad..." class="w-full bg-white p-1 rounded">
        </div>
        <div class="text-center min-w-40 max-w-40 pr-2 pl-2 mb-2">
          <h2 class="mb-1">Estado legal</h2>
          <select class="text-black bg-white p-1 rounded">
            <option *ngFor="let item of listLegalStatus">{{item.description}}</option>
          </select>
        </div>
      </div>
    </div>
    <button class="flex items-center cursor-pointer bg-red-400 text-white px-2 py-2 rounded hover:bg-green-600 m-2">
      <span class="material-symbols-outlined mr-2">search</span>Buscar
    </button>
  </section>

  <section class="flex justify-end mx-auto pt-2 max-w-2xl rounded text-center gap-3 flex-col md:flex-row">
    <button class="flex items-center cursor-pointer bg-red-400 rounded px-2 py-2 hover:bg-green-600 text-white">
      <span class="material-symbols-outlined mr-2">add</span>Insertar
    </button>
    <div class="flex items-center bg-red-400 rounded px-2 py-2 text-white">
      <h2>Elementos:</h2>
      <select class="ml-2 pl-2 text-black bg-white">
        <option *ngFor="let item of listElementsAmountValues">{{item}}</option>
      </select>
    </div>
  </section>

  <section class="text-center p-4">
    <table class="table-auto max-w-2xl mx-auto border border-collapse border-black">
      <tr>
        <th scope="col" class="bg-blue-400 text-white border border-black p-2">N°</th>
        <th scope="col" class="bg-blue-400 text-white border border-black p-2">Nombre</th>
        <th scope="col" class="bg-blue-400 text-white border border-black p-2">Apellido</th>
        <th scope="col" class="bg-blue-400 text-white border border-black p-2">Edad</th>
        <th scope="col" class="bg-blue-400 text-white border border-black p-2">Estado Legal</th>
      </tr>
      <tr *ngFor="let person of listPersons; let index = index">
        <td id="number" class=" bg-white p-2">{{index + 1}}</td>
        <td id="name" class=" bg-white p-2">{{person.name}}</td>
        <td id="lastName" class="bg-white p-2">{{person.lastName}}</td>
        <td id="age" class="bg-white p-2">{{person.age}}</td>
        <td id="legalStatus" class="bg-white p-2">{{person.legalStatus}}</td>
      </tr>
    </table>
  </section>

  <section class="flex max-w-xl mx-auto justify-center gap-48 text-center">
    <app-custom-button buttonText="Regresar" routerDirection="/welcome-interface"></app-custom-button>
    <div class="flex items-center gap-2 py-2 px-4 mb-2 bg-red-400 rounded text-white">
      <a (click)="changePage(currentPage.toString(), 'back')" [class.opacity-50]="currentPage === 1" class="cursor-pointer hover:bg-green-600 pr-2 pl-2">&laquo;</a>
      <ng-container *ngFor="let page of paginationDisplay">
        <a *ngIf="page !== '...'; else dots" (click)="changePage(page, 'actual')"
        [class.font-bold]="page === currentPage.toString()" class="cursor-pointer hover:bg-green-600 pr-2 pl-2">
        {{ page }}
        </a>
        <ng-template #dots>
          <span class="cursor-pointer hover:bg-green-600 pr-2 pl-2">...</span>
        </ng-template>
      </ng-container>
      <a (click)="changePage(currentPage.toString(), 'forward')" [class.opacity-50]="currentPage === totalPages" class="cursor-pointer hover:bg-green-600 pr-2 pl-2">&raquo;</a>
    </div>
  </section>

</body>
</html>
